<div>
 <div class="card" style="width: 18rem;" *ngIf="mostrar">
    <div class="card-header">
      {{frase.autor}} <br>
      {{''+frase.mensaje+''}}
    </div>
    <ul class="list-group list-group-flush" *ngFor="let per of personajes">
      <li class="list-group-item">{{per}}</li>
    </ul>
  </div>
  <div>
    <button (click)="mostrar = !mostrar" type="button" class ="btn btn-outline-primary">Mostrar/Ocultar</button>
  </div>
</div>